<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela principal</title>
    <style>
        button {
        border: none;
        background: #000000;
        color: #f2f2f2;
        padding:49px;
        font-size: 55px;
        border-radius: 10px;
        position: relative;
        box-sizing: 6px;
        transition: all 500ms ease; 
        }
        button:hover {
        background: rgba(0,0,0,0);
        color: #3a7999;
        box-shadow: inset 0 0 0 3px #3a7999;
        }
    </style>
</head>
<body bgcolor="#69bff8">
    <center><button>Bem vindo! vida longa e propospera 🖖</button></center>
</body>
</html>